<!doctype html>
<html lang="en">
    <head>
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="/webpage/view/index/css/index.css">
    </head>
    <body>
        <div style="margin-left: 208px;margin-right: 208px;width: 934px;height: 800px;border: solid 1px #000;">
            <div>
                <ul style="list-style: none;">
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myArticle.html">我的文章</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myPage.html">我的资料</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myReadBook.html">我读过的书</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myTravel.html">我去过的地方</a></li>
                </ul>
            </div>
            <div style="margin: 60px 15px;width: 900px;height: 660px;border: solid 1px #000;">
                 <div>
                    <label>书名:</label>
                    <input type="text" name="userName" />
                </div>
                    <div class="input-group">
                        <label>值得推荐等级:</label>
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                下拉菜单 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">功能</a></li>
                                <li><a href="#">另一个功能</a></li>
                                <li><a href="#">其他</a></li>
                                <li class="divider"></li>
                                <li><a href="#">分离的链接</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div>
                <div>
                    <label>旅游体会:</label>
                    <input style="width: 500px;height: 250px;" type="textarea" name="userDesc" />
                </div>
            </div>
         </div>
        <script src="/webpage/common/bootstrap/js/bootstrap-table.min.js"></script>
        <script src="/webpage/common/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
        <script src="/webpage/controller/myPage/js/myArticle.js"></script>
    </body>
</html>
