<!doctype html>
<html lang="en">
    <head>
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="/webpage/view/index/css/index.css">
    </head>
    <body>
        <div style="margin-left: 208px;margin-right: 208px;width: 934px;height: 800px;border: solid 1px #000;">
            <div>
                <ul style="list-style: none;">
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myArticle.html">我的文章</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myPage.html">我的资料</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myReadBook.html">我读过的书</a></li>
                    <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="/webpage/view/myPage/page/myTravel.html">我去过的地方</a></li>
                </ul>
            </div>
            <div style="margin: 60px 15px;width: 900px;height: 660px;border: solid 1px #000;">
                 <table id="demo-table"></table>
            </div>
         </div>
        <script src="/webpage/common/bootstrap/js/bootstrap-table.min.js"></script>
        <script src="/webpage/common/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
        <script src="/webpage/controller/myPage/js/myArticle.js"></script>
    </body>
</html>
