<!doctype html>
<html lang="en">
    <head>
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="/webpage/view/myPage/css/myArticle.css">
    </head>
    <body>
        <div class="myArticleCss">
            <table id="demo-table"></table>
        </div>
        <script src="/webpage/common/bootstrap/js/bootstrap-table.min.js"></script>
        <script src="/webpage/common/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
        <script src="/webpage/controller/myPage/js/myArticle.js"></script>
    </body>
</html>
