<!doctype html>
<html lang="en">
<head>
    <!-- INDEX CSS -->
    <link rel="stylesheet" href="/webpage/view/myPage/css/myPageIndex.css">
</head>
<body>
<div style="margin-left: 200px;margin-right: 215px;width: 934px;height: 800px;border: solid 1px #000;">
    <div>
        <ul class="myPageIndexUlCss">
            <li class="myPageIndexLiCss" style="float: left;">
                <a class="myPageIndexLi_aCss" href="javascript:void(0);" onclick="myArticle()">我的文章</a>
            </li>
            <!--<li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="javascript:void(0);" onclick="myInformation()">我的资料</a></li>
            <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="javascript:void(0);" onclick="myReadBook()">我读过的书</a></li>
            <li style="float: left;"><a style="margin: 15px;padding: 3px 15px;border: solid 1px #000;text-decoration: none;" href="javascript:void(0);" onclick="myTravel()">我去过的地方</a></li>-->
        </ul>
    </div>
    <div id="myPageContentId"></div>
</div>
<script src="/webpage/controller/myPage/js/myPageIndex.js"></script>
</body>
</html>
