<!doctype html>
<html lang="en">
	<head>
		<!-- INDEX CSS -->
		<link rel="stylesheet" href="/webpage/view/myPage/css/myTravel.css">
	</head>
	<body>
		<div style="margin: 60px 15px;width: 900px;height: 660px;border: solid 1px #000;">
			<button type="button" class="btn btn-primary" style="margin-right: 30px;float: right;margin-top: 20px;">
				新增旅游地方
			</button>
			<div style="margin-top:75px">

			</div>
		</div>
		<script src="/webpage/controller/myPage/js/myTravel.js"></script>
	</body>
</html>
