<!doctype html>
<html lang="en">
	<head>
		<title>我的技术网</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
		<!-- BOOTSTRAP CSS -->
		<link rel='stylesheet' href='/webpage/common/bootstrap/css/bootstrap.min.css'>
		<!--MAIN CSS-->
		<link rel='stylesheet' href='/webpage/view/boot/css/main.css'>
		<!-- FONT CSS-->
		<link rel='stylesheet' href='/webpage/common/font/font-awesome.min.css'>
		<!-- ICONS -->
		<link rel='apple-touch-icon' sizes='76x76' href='/webpage/common/img/apple-xingyue-icon.png'>
		<link rel='icon' type='image/png' sizes='96x96' href='/webpage/common/img/xingyue-icon.png'>
	</head>
	<body>
		<!--NAV BAR-->
		<nav class="navbar navbar-default navCss" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="javascript:void(0);" onclick="index()">我的博客</a>
				</div>
				<div id="navContentId">
					<ul class="nav navbar-nav">
						<li><a href="javascript:void(0);" onclick="loadMyPage()">个人主页</a></li>
						<!--<li><a href="javascript:void(0);" onclick="loadSkillInterlocution()">技术问答</a></li>
						<li><a href="javascript:void(0);" onclick="loadSkillMap()">能力地图</a></li>
						<li><a href="javascript:void(0);" onclick="loadManager()">系统管理</a></li>-->
					</ul>
				</div>
				<div class="navRightCss">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" class="headImgCss">
						   		<!--<img src="/webpage/common/img/apple-xingyue-icon.png" alt="my head picture" width="40" height="40">-->
						    </a>
						</li>
						<li><a class="unloadCss loadingCss">您还没有登录 -></a></li>
						<li><a href="javascript:void(0);" onclick="login()" class="loadCss"><button class="btn btn-primary">登录</button></a></li>
				    </ul>
				</div>
			</div>
		</nav>

		<div id="mainId"></div>
		<div id="loginId"></div>
		<!-- footer -->
		<footer>
			<div class='container-fluid'>
				<p class='copyright'>&copy; 2017
					<a href='http://www.5iskill.com/' target='_blank'>www.5iskill.com</a>. All Rights Reserved
				</p>
			</div>
		</footer>
		<script src="/webpage/common/jquery/jquery.min.js"></script>
		<script src="/webpage/common/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/webpage/controller/boot/js/main.js" charset="utf-8"></script>
	</body>
</html>
