<!doctype html>
<html lang="en">
    <head>
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="/webpage/view/skillMap/css/addSkillMap.css">
    </head>
    <body>
        <div style="margin-left: 208px;margin-right: 208px;width: 934px;height: 800px;border: solid 1px #000;">

         </div>
        <!-- Javascript -->
        <script src="/webpage/common/bootstrap/js/bootstrap-table.min.js"></script>
        <script src="/webpage/common/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
        <script src="/webpage/controller/skillMap/js/addSkillMap.js"></script>
    </body>
</html>
