<!doctype html>
<html lang="en">
    <head>
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="/webpage/view/skillMap/css/skillMap.css">
        <style>
            #skillMapId {
                height: 330px;
                overflow: hidden;
                padding : 10px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div style="margin-left: 208px;margin-right: 208px;width: 934px;height: 800px;border: solid 1px #000;">
           <p>watting...2</p>
         </div>
        <!-- Javascript -->
        <script src="/webpage/controller/skillMap/js/skillMap.js"></script>
    </body>
</html>
