<!doctype html>
<html lang="en">
	<head>
		<!-- INDEX CSS -->
		<link rel="stylesheet" href="/webpage/view/login/css/login.css">
	</head>
	<body>
		<div>
			<!-- 登录界面 -->
			<div>
				<form class="loadFormCss">
					<label>账号</label>
					<input type="" name="">
					<label>密码</label>
					<input type="" name="">
					<label>验证码</label>
					<input type="" name="">
					<div>
						<img class="loadImgCss" src="/webpage/common/img/apple-xingyue-icon.png" alt="my head picture">
					</div>
				</form>
			</div>
			<!-- 图片展示 -->
			<div class="imgDisplayCss">
				<img class="imgCss" src="/webpage/common/img/apple-xingyue-icon.png" alt="my head picture">
			</div>
		</div>
	</body>
</html>