body {
	font-size: 95%;
	font-family: "Helvetica","Arial",sans-serif;
}

body * {
	font-size: 1em;
}

a {
	font-weight: bold;
	text-decoration: none;
}

header nav {
	font-family: "Lucida Grande","Helvetica","Arial",sans-serif;
}

header nav a {
	text-decoration: none;
	font-weight: bold;
}