.myPageIndexUlCss{
    list-style: none;
}
.myPageIndexLiCss{
    float: left;
}

.myPageIndexLi_aCss{
    margin: 15px;
    padding: 3px 15px;
    border: solid 1px #000;
    text-decoration: none;
}